.event-image {
    background-color: red;
    height: 300px;
    max-width: 800px;
    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
}
.event-author-details {
    border: 2px solid grey;
    padding: 3px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
}
.single-event {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.presentation {
    width: 70%;
}
.event-content {
    margin: 15px 0;
    text-align: justify;
    max-width: 800px;
}
.comment-user {
    padding: 20px;
    padding-top: 0;
    border-radius: 3px;

}
.list-comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 55vh;
    overflow: auto;
    border-left: 2px solid;
    margin-bottom: 20px;
    padding: 15px;
}
.user-comment {
    border-bottom: 1px solid green;
}
.user-comment .event-author-details {
    margin: 10px 5px 0 0;
    background-color: #f1f1f1;
}
form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
}
form input[type="text"] {
    outline: none;
    padding: 10px;
    width: 70%;
    border-radius: 999px;
}
form input[type="submit"] {
    outline: none;
    border: none;
    padding: 10px;
    width: 20%;
    border-radius: 3px;
    background-color: #306090;
    color: white;
}