<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&family=Russo+One&display=swap"
              rel="stylesheet">
        <!--    dataTable css-->
        <link rel="stylesheet" href="{{ asset('assets/css/components/datatable.css') }}">
        <!--    style-->
        <link rel="stylesheet" href="{{ asset('assets/css/components/accueill.css') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
    <div class="global-container">
        <nav>
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>

            <ul class="liste">
                <li class="items">Accueil</li>
                <li class="items">Services</li>
                <li class="items">Portfolio</li>
                <li class="items">Contact</li>
            </ul>
        </nav>
        <!--    Barre de navigation    -->

        <main>
            <a href="#" class="logo">
                <span class="accronime">CN</span> <br>
                Campus <span class="desc">Numerique</span>
            </a>

            <h1 class="important">{% block page_title %}
                    Nom de pagge
                {% endblock %}
            </h1>

        {% block body %}{% endblock %}

        </main>


    </div>
    <!--jquery-->
    <script src="{{ asset('assets/js/lib/jquery/jquery-3.7.1.min.js') }}"></script>
    <!--dataTable JS-->
    <script src="{{ asset('assets/js/lib/datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
