{% extends 'base.html.twig' %}

{% block title %}Campus Numerique - Evenement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/components/eventDecsit.css') }}">
{% endblock %}

{% block page_title %}
    Titre evenemnt
{% endblock %}



{% block body %}
    <section class="single-event">
        <section class="presentation">
            <div class="event-image"></div>

            <div class="event-details flex">
                <div class="event-author-details">
                    <div class="event-author-name">lorem</div>
                </div>

                <div class="event-content-details">
                    <h2 class="event-title">Lorem, ipsum dolor.</h2>
                    <div class="event-createdAt">12-3-23 il y a (3ans)</div>

                    <div class="event-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, aperiam pariatur aliquam quisquam dolores cupiditate aspernatur itaque porro neque possimus saepe error praesentium nostrum obcaecati vitae nemo eius. Corrupti, deleniti.
                    </div>
                </div>
            </div>
        </section>

        <section class="comment-user">
            <div class="list-comment">
                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>
                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>
                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>
                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>

                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>
                <div class="user-comment">
                    <div class="event-author-details">
                        <div class="event-author-name">lorem</div>
                    </div>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsa quia error ad voluptatem quam!
                </div>
            </div>
            <form action="">
                <input type="text">
                <input type="submit" value="envoiye">
            </form>
        </section>
    </section>
{% endblock %}
